esp32_firmware/build/**/core/
esp32_firmware/build/**/libraries/
esp32_firmware/build/**/sketch/
esp32_firmware/build/**/*.cache
esp32_firmware/build/**/*.elf
esp32_firmware/build/**/*.map
esp32_firmware/build/**/compile_commands.json
